.new-card{
  .card-header{
    height: 414px;
    background-size: cover;
  }
  h1{
    font-size: 62px;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 18px;
    padding-top: 159px;
  }
  a{
    color: black;
    opacity: 0.6;
    text-decoration: none;
    text-shadow: 1px 1px black;
    &:hover{
      text-decoration: none;
      font-weight: bolder;
      opacity: 1;
    }
  }
  .form{
    padding: 13px;
  }
}
@media screen and (max-width: 400px){
  .new-card{
    .card-header{
      height: 474px !important;
    }
  }
}
